{% extends "common/index.html" %}

{% block page %}
<div class="row">
    <div class="col-md-6 center-block">
        <div class="panel panel-default" style="width: 99%">
            <div class="panel-heading">Your Todo Lists</div>
            <div class="panel-body">
                <ul class="list-group">
                    {% for todo in todos %}
                    <li class="list-group-item clearfix">
                        <div class="col-md-10">
                            {{todo.name}}, Priority: {{todo.priority}}
                        </div>
                        <div class="col-md-1">
                            <form class="form-inline" action="{%url 'notes:preview_todo' todo.id%}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="save btn btn-link"><span class="glyphicon glyphicon-eye-open"
                                                                                      aria-hidden="true"></span>
                                </button>
                            </form>
                        </div>
                        <div class="col-md-1">
                            <form class="form-inline" action="{%url 'notes:new_todo'%}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="action" value="delete_todo">
                                <input type="hidden" name="todo_id" value="{{todo.id}}">
                                <button type="submit" class="save btn btn-link"><span
                                        class="glyphicon glyphicon-trash"></span></button>
                            </form>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <!----------------->

    <div class="col-md-6 center-block">
        <div class="panel panel-default" style="width: 99%">
            <div class="panel-heading">Assigned Tasks</div>
            <div class="panel-body">
                <ul class="list-group">
                    {% for task in tasks %}
                    <form class="form-inline" action="{%url 'notes:new_todo'%}" method="POST"
                          id="view_todo{{task.todo.id}}">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="create_task">
                        <input type="hidden" name="todo_id" value="{{task.todo.id}}">
                    </form>
                    <li class="list-group-item">{{task.name}}, Priority: {{task.priority}} in
                        {{task.todo.name}}, due for {{task.due_date}}
                        <div class="btn-group">
                            <button class="btn btn-group-item" form="view_todo{{task.todo.id}}"><span class="glyphicon glyphicon-list"></span></button>
                        </div>

                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div>
        <form method="get" action="{% url 'notes:new_todo' %}" class="center-block col-md-3">
            <button type="submit">New ToDo List</button>
        </form>
    </div>
</div>
{% endblock %}

