{% extends "common/index.html" %}

{% load todo_tags %}

{% block page %}

<ul class="list-group">
    <li class="list-group-item clearfix">
        <div class="col-md-6">
            <strong>Name: </strong>
            {{ todo.name }}
        </div>
        <div class="col-md-3">
            <strong>Priority: </strong>
            {{ todo.priority|priority_name }}
        </div>
        <div class="col-md-3">
            ALLOWED CONTROLS HERE
        </div>
    </li>
</ul>

<ul class="list-group">
    <div class="panel-group" id="accordion">
        {% for task, statuses in tasks_with_statuses %}
        <div class="panel panel-default">
                <li class="list-group-item clearfix">
                    <div class="col-md-6">
                        {{ task.name}}, assigned to {{task.assigned_to|assignees}} with {{task.priority|priority_name}}
                        priority,
                    </div>
                    <div class="col-md-3">
                        due for {{task.due_date}},
                    </div>
                    <div class="col-md-3">
                        ALLOWED CONTROLS HERE
                        <a data-toggle="collapse" data-parent="#accordion" href="#status{{task.id}}">History</a>
                    </div>
                </li>
            <div id="status{{task.id}}" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul class="list-group">
                        {% for status in statuses %}
                        <li class="list-group-item">status {{status.status}}, set by {{status.set_by}} on
                            {{status.created_at}}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</ul>

{% endblock %}