<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome Home</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'common/css/bootstrap.css' %}">
    {% block head %}
    {% endblock %}

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'common:index' %}">@Home</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% for menu_item in MENU %}
                <li><a href="{% url 'monitor:index' %}" )>{{menu_item.caption}}</a></li>
                {% endfor %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="">Sign in</a></li>
                <li><a href="{% url 'admin:index' %}">Admin</a></li>
            </ul>
        </div>
    </div>
</nav>

{% block page %}
{% endblock %}
</body>
</html>