<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome Home</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'common/css/bootstrap.min.css' %}">
    <script src="{% static 'common/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'common/js/bootstrap.js' %}"></script>
    {% block head %}
    {% endblock %}

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'common:index' %}">@Home</a>
        </div>
        {% if user.is_authenticated %}
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% for menu_item in MENU %}
                <li><a href="{% url 'monitor:index' %}" )>{{menu_item.caption}}</a></li>
                {% endfor %}
            </ul>
            <ul class="nav navbar-nav navbar-right">


                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Welcome, {{user.first_name}} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'common:login' %}">Switch User</a></li>
                        <li><a href="{% url 'common:change_password' %}">Change Password</a>
                        <li><a href="{% url 'common:logout' %}">Logout</a></li>
                        {% if user.is_superuser %}
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'admin:index' %}">Admin</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
        {% endif %}
    </div>
</nav>

<div class="containter">
    {% block page %}
    {% endblock %}
</div>
</body>
</html>